@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.page{
    font-family: "Poppins";
    margin: 0px;
    background-image: url(imgs/36949400340_030e4ae5f9_oab4ccd35-fd6a-4230-bd2e-f0113f50357d.jpg);
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    backface-visibility: visible;
    backdrop-filter: blur(5px);
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    font-family: "Poppins";
    color: white;
    text-decoration:  none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: left;
}

.fa-discord{
    display: block;
    padding: 4px;
    margin-left:0px;
}


.hd{
    color: white;
    margin-top: 50px;
    margin-left: 380px;
    font-size: 50px;
}

.hd-1{
    color: white;
}

.hdr{
    color: white;
    margin-top: 50px;
}

.hdr-1-1{
    color: white;
}

.hdr-1-2{
    color: white;
}

.hdr-1-3{
    color: white;
}

.hdr-1-4{
    color: white;
}

.hd-2{
    color: white;
}

.hdr-2-1{
    color: white;
}

.hdr-2-2{
    color: white;
}

.hdr-2-3{
    color: white;
}

.hdr-2-4{
    color: white;
}

.hd-3{
    color: white;
}

.hd-3-1{
    color: white;
}

.hd-3-2{
    color: white;
}